<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    {{!-- library style --}}
    <link rel="stylesheet" href="style/tailwindcss.css" />
    {{!-- page style --}}
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    {{!-- test --}}
    <div class="text-center text-3xl text-purple-700">
        سلام، این یه تسته.
    </div>
</body>

</html>